.userBtn
{
    text-transform: capitalize;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    p{
        width: 100%;
        font-size: 1.1rem;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}