.menu{
    position: absolute;
    right: 0;
    top: 100%;
    width: 200px;
    padding: .5rem 0;
    border: 1px solid darkgray;
    box-shadow: 0 0 10px darkgray;
    background: white;
    li{
        padding: .5rem;
        cursor: pointer;
        &:hover
        {
            background: lightgray;
        }
    }
}