.comments_container
{
    width: 90%;
    max-width: 700px;
    margin: auto;
    &__top
    {
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;
        border-bottom: 1px solid rgb(195, 195, 195);
        h2{
            font-weight: 500;
        }
    }
    .comments_sort
    {
        display: flex;
        position: relative;
        gap: 30px;
        cursor: pointer;
        p{
            display: flex;
            align-items: center;
        }
        span{
            display: flex;
            align-items: center;
            img{
                width: 25px;
            }
        }
    }
    padding-bottom: 3rem;
}

.write_a_comments
{
    margin: 3rem 0 0 0;
    display: flex;
    gap: 2rem;
    &__left
    {
        height: 40px;
        min-height: 40px;
        width: 40px;
        min-width: 40px;
        overflow: hidden;
        div{
            color: white;
            height: 40px;
            min-height: 40px;
            width: 40px;
            min-width: 40px;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
    }
    &__right
    {
        width: 100%;

        .submit_zone
        {
            display: flex;
            gap: 2rem;
        }
        textarea{
            border: none;
            outline: none;
            resize: none;
            font-size: 1.3rem;
            width: 100%;
            max-height: none;
            scrollbar-color: transparent transparent;
            &::-webkit-scrollbar
            {
                display: none;
            }
        }
        input[type="submit"]
        {
            background: crimson;
            color: white;
            border: none;
            outline: none;
            padding: .3rem 1rem;
            color: white;
            font-size: 1.2rem;
            font-weight: 500;
            cursor: pointer;
            &:hover
            {
                opacity: .8;
            }

        }
        button{
            background: none;
            outline: none;
            border: none;
            color: crimson;
            font-weight: 500;
            font-size: 1.2rem;
            cursor: pointer;
            &:hover
            {
                opacity: .8;
            }
        }
    }
}

.comment
{
    display: flex;
    gap: 1rem;
    &:not(:first-of-type)
        {
            .comment__right
            {
                border-top: 1px solid rgb(195, 195, 195);    
            }
            
        }
    &__right
    {
        width: 100%;         
        padding-top: 2rem;       
        padding-bottom: 2rem;
        span{
            color: darkgray;
            font-size: .9rem;
        }
        &__content
        {
            margin-top: 1rem;
            font-size: 1.2rem;
        }
    }
    &__left
    {
        margin-top: 2rem;
        height: 40px;
        min-height: 40px;
        width: 40px;
        min-width: 40px;
        border-radius: 50%;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;    
        color: white;
        text-transform: uppercase;
    }
    .edit
    {
        padding-top: 2rem;
        width: 30px;

        img{
            cursor: pointer;
            &:hover
            {
                opacity: 0.6;
            }
        }
        &_btn
        {
            position: relative;            
            width: 30px;
            height: 30px;
        }
    }
}